.card-container {
  width: 60rem;
  height: 15rem;
  background-color: blue;
  border: 2rem solid red;
  padding: 1rem green;
  margin: 1rem;
  box-sizing: border-box;
}

.logo-container {
  width: 5rem;
  height: 4rem;
  background-color: green;
}

.logo {
  width: 5rem;
  height: 4rem;
}

.verified-mark {
  height: 2rem;
  width: 2rem;
}
