// //////// Colors //////// //
$blue-button: linear-gradient (350deg, #6169f4 40%, #1cbeec 85%);
$purple-verified: #5c6cff;
$orange-button: linear-gradient (350deg, #f87000 40%, #f8ae00 85%);
$grey-text: #959595;

// //////// Animations //////// //
@keyframes accordianOpen {
  from {
    height: 0rem;
  }
  to {
    height: 10rem;
  }
}

@keyframes accordianClose {
  from {
    height: 10rem;
  }
  to {
    height: 0rem;
  }
}

// //////// App //////// //
.App {
  // margin: 10rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 10rem auto 0 auto;
  width: 65rem;
  height: 65rem;
  overflow-y: scroll;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

// //////// Generic Elements //////// //
h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
}

p {
  font-size: 1rem;
  color: $grey-text;
}

// //////// Nav //////// //
%nav-shared {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .query-info {
    position: relative;

    .query-info-content {
      @extend %nav-shared;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .query-info-bold {
    font-weight: 600;
  }

  .form {
    @extend %nav-shared;
    text-align: right;

    .form-selector {
      padding: 0.8rem;
      border-radius: 0.5rem;
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }
}

// //////// Dropdown Section //////// //
%dropdown-shared {
  overflow: hidden;
  animation-duration: 0.5s;
}

.dropdown-shown {
  @extend %dropdown-shared;
  height: 10rem;
  animation-name: accordianOpen;
}

.dropdown-hidden {
  @extend %dropdown-shared;
  height: 0rem;
  animation-name: accordianClose;
}

.card-container {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

// //////// Card Layout //////// //
.card {
  box-sizing: border-box;
  // height: 13rem;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 1.5rem 3rem;
  margin: 0rem 0.5rem 1rem 0.5rem;
  position: relative;

  .card-topfold-container {
    display: grid;
    grid-template-columns: 10% 60% 30%;

    .card-topfold-subcontainer-2 {
      padding-left: 2rem;
      text-align: left;
      display: grid;
      grid-template-areas:
        "cname cname"
        "rating features"
        "tag tag";
      grid-template-columns: 20% auto;
      grid-template-rows: auto auto auto;

      .carrier-name {
        grid-area: cname;
      }

      .star-icons {
        grid-area: rating;
      }

      .feature-icons {
        grid-area: features;
      }

      .carrier-tagline {
        grid-area: tag;
      }
    }
  }
}

// //////// Card Components //////// //
// //////// Verified Mark //////// //
.verified-mark {
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-right: 2rem solid $purple-verified;
  border-bottom: 2rem solid $purple-verified;
  border-bottom-right-radius: 5px;
  transform: rotate(180deg);
  top: 0;
  left: 0;
}

.logo-container {
  width: 5.5rem;
  height: 4.5rem;
}

.logo {
  width: 5.5rem;
  height: 4.5rem;
}

// repeated reference - first one was layout only
.star-icons {
  padding-top: 0.8rem;
}

.button-blue {
  border: 1px solid black;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  color: $blue-button;
}

.button-orange {
  border: 1px solid black;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  color: $blue-button;
}

a {
  background-color: $blue-button;
}

.chevron-up {
  transform: rotate(180deg);
}

.chevron-down {
}
