// //////// Colors //////// //
$blue-button: linear-gradient(350deg, #6169f4 40%, #1cbeec 85%);
$purple-verified: #5c6cff;
$orange-button: linear-gradient(350deg, #f87000 40%, #f8ae00 85%);
$grey-text: #959595;
$grey-borders: rgb(240, 240, 240);

// //////// Set Defaults //////// //
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

// //////// App //////// //
.App {
  margin: 2rem auto 0 auto;
  width: 65%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  min-width: 950px;
  max-width: 1300px;

  .app-loading-wrapper {
    text-align: center;
  }
  .app-loading {
    font-size: 5rem;
  }
}

// //////// Generic Elements //////// //
h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
  text-align: left;
}

p {
  font-size: 1rem;
  color: $grey-text;
  text-align: left;
}

ul {
  margin: 0;
}

// //////// Nav //////// //
%nav-shared {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .nav__query-info {
    position: relative;

    .nav__query-info-content {
      @extend %nav-shared;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .nav__query-info-contentquery-info-bold {
    font-weight: 600;
  }

  .nav__form {
    @extend %nav-shared;
    text-align: right;

    .nav__form-selector {
      padding: 0.8rem;
      border-radius: 8px;
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }
}

// //////// Deck //////// //
.deck__card-container {
  text-align: center;
  width: 100%;
}

// //////// Card //////// //
.card {
  border: 2px solid $grey-borders;
  border-radius: 5px;
  padding: 1.5rem 3rem 0.3rem 3rem;
  margin: 0rem 0.5rem 1rem 0.5rem;
  position: relative;

  .card__topfold-container {
    display: grid;
    grid-template-columns: 10% 60% 30%;

    .card__topfold-subcontainer--2 {
      padding-left: 2rem;
      text-align: left;
      display: grid;
      grid-template-areas:
        "cname cname"
        "rating features"
        "tagline tagline";
      grid-template-columns: 20% auto;
      grid-template-rows: auto auto auto;

      .card__carrier-name {
        grid-area: cname;
      }

      .card__star-icons {
        grid-area: rating;
        padding-top: 0.8rem;
      }

      .card__feature-icons {
        grid-area: features;
      }

      .card__carrier-tagline {
        grid-area: tagline;
      }
    }

    .card__topfold-subcontainer--3 {
      text-align: right;
      display: grid;
      grid-template-areas:
        "tag price"
        "button button";
      grid-template-columns: 55% 45%;
      grid-template-rows: auto auto;

      .card__verified-tag {
        grid-area: tag;
        font-size: 1rem;
        font-weight: 600;
        color: $purple-verified;
      }

      .card__price {
        grid-area: price;
        font-size: 2rem;

        .card__price-month {
          font-size: 1rem;
          color: $grey-text;
          vertical-align: middle;
        }
      }

      .card__button {
        grid-area: button;
      }
    }
  }
}

// //////// Card Components //////// //
// //////// Verified Mark //////// //
.card__verified-mark {
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid $purple-verified;
  border-bottom: 1.5rem solid $purple-verified;
  border-bottom-right-radius: 5px;
  transform: rotate(180deg);
  top: 0;
  left: 0;
}

// //////// Logo //////// //
.card__logo-container {
  width: 88px;
  height: 72px;

  .card__logo {
    width: 88px;
    height: 72px;
  }
}

// //////// Button //////// //
%button-shared {
  border-radius: 30px;
  padding: 0.6rem 0rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 2rem;
  top: 3rem;

  .card__button-caption {
    display: inline-block;
    padding-left: 0.5rem;
  }
}

.card__button--blue {
  @extend %button-shared;
  background: $blue-button;
  width: 160px;
}

.card__button--orange {
  @extend %button-shared;
  background: $orange-button;
  margin-top: 0.8rem;
  width: 192px;
}

// //////// Dropdown Section //////// //
%dropdown-shared {
  overflow: hidden;
  animation-duration: 0.5s;
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-areas: "feet deets";
  grid-template-columns: 50% 50%;

  .card__detailsdropdown {
    grid: deets;
  }

  .card__featureslistdropdown {
    grid: feet;

    .card__featureslistdropdown-unorderedlist {
      columns: 2;
      text-align: left;
      color: $grey-text;
    }
  }
}

.card__dropdown--shown {
  @extend %dropdown-shared;
  height: 160px;
  padding-top: 2rem;
}

.card__dropdown--hidden {
  @extend %dropdown-shared;
  height: 0;
}

.card__dropdown-divider {
  border: 1px solid $grey-borders;
  margin: 0.8rem 0;
  width: 95%;
}

// //////// Chevron button //////// //
.card__chevron-button {
  width: 160px;
  height: 24px;
  border: none;
  background-color: white;
  cursor: pointer;
}

// //////// Chevron //////// //
.card__chevron--up {
  transform: rotate(180deg);
}
